
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: PolySans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 16px;
  color: white;
  background-color: rgb(24, 40, 37);
  overflow-x: hidden;
}
body {
  @apply  text-white dark:bg-slate-900 dark:text-white;
}

.perspective {
  perspective: 2000px;
}
.transform-style {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}

canvas {
  background: #0B0F1A; /* deep navy space tone */
}